DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/dbname?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://user:password@host.region.aws.neon.tech/dbname?sslmode=require&channel_binding=require"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."
